<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php"
		 backupGlobals="false"
		 backupStaticAttributes="false"
		 colors="true"
		 verbose="true"
		 processIsolation="false"
		 stopOnFailure="false"
		 syntaxCheck="true">
	<testsuites>
		<testsuite name="Controller">
			<directory>./tests/Controller</directory>
		</testsuite>
		<testsuite name="Document">
			<directory>./tests/Document</directory>
		</testsuite>
		<testsuite name="Encoder">
			<directory>./tests/Encoder</directory>
		</testsuite>
		<testsuite name="Exceptions">
			<directory>./tests/Exceptions</directory>
		</testsuite>
		<testsuite name="Handlers">
			<directory>./tests/Handlers</directory>
		</testsuite>
		<testsuite name="Hydrator">
			<directory>./tests/Hydrator</directory>
		</testsuite>
		<testsuite name="Integration">
			<directory>./tests/Integration</directory>
		</testsuite>
		<testsuite name="Model">
			<directory>./tests/Model</directory>
		</testsuite>
		<testsuite name="Strategy">
			<directory>./tests/Strategy</directory>
		</testsuite>
		<testsuite name="Transformer">
			<directory>./tests/Transformer</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">src/</directory>
		</whitelist>
	</filter>
	<logging>
		<?log type="coverage-clover" target="./clover.xml"?>
	</logging>

</phpunit>